# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
env/
venv/
*.egg-info/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
.terraform.lock.hcl

# Lambda/Layer ZIPs
*.zip
lambda-archive/
layer-archive/

# Logs
*.log

*.txt

